.news h2.title{
    color: #272f54;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase ;
    margin: 20px 0;
}
.news .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.news .col{
    border: 1px solid#c2c2c2;
    padding: 15px 25px;
}
.news h3{
    margin: 10px 0;
}
.news h3 a{
    color: #ad3f00;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.news p{
    color: #000;
    font-size: 13px;
}
